@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body{
    background-color: black;
    scroll-behavior: smooth;
    line-height: 13px;
}

.pic img {
	margin: center;
	height: 350px;
	width: -20px;
    margin-top: -150px;
    margin-left: -70px;
	align-items: center;
}

h1{
    color: rgb(0 87 255);
    text-align: center;
    font-size: 44px;
    font-family: "Major Mono Display", monospace;
    font-style: normal;
    font-weight: 900;
}

.cs h2{
    color: rgb(0 87 255);
    text-align: center;
    font-size: 30px;
    font-family: "Major Mono Display", monospace;
    font-style: normal;
    font-weight: 900;
}

.des p{
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 100;
}

.links p{
    color: white;
    text-align: left;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 100;
}

.footer p{
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 100;

p{
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 100;
}

a{
    color: rgb(0 87 255);
    text-decoration: none;
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    font-weight: 100;
}

::selection {
    color: #00FFA3;
    background: #042620;
}
